@import url('https://fonts.googleapis.com/css?family=Muli');

*{
    font-family: 'Muli', sans-serif;
}

body{
    background-color: #cccccc;
}

#container {
    width: 600px;
    left: 50%;
    position: relative;
    margin-left: -300px;
    text-align: center;
}

h2{
    font-size: 5em;
}

button{
    width: 200px;
    height: 75px;
    position: relative;
    left: 50%;
    margin-left: -100px;
}